.authentication-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

    // .sign-in-container {
    //     display: flex;
    //     flex-direction: column;
    //     width: 380px;

    //     h2 {
    //         margin: 10px 0;
    //     }

    //     .buttons-container {
    //         display: flex;
    //         justify-content: space-between; 
    //         gap: 10px;
    //     }
    // }
}